In [1]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [5]:
df=pd.read_csv("/content/Real_Estate_Sales_2001-2020_GL.csv")

In [6]:
df.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10-02-2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,03-09-2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,07-02-2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN

In [7]:
df[['Assessed Value','Sale Amount']].describe()

       Assessed Value   Sale Amount
count    1.221110e+05  1.221110e+05
mean     2.401629e+05  4.415668e+05
std      1.294022e+06  1.444372e+07
min      0.000000e+00  0.000000e+00
25%      7.480000e+04  1.355000e+05
50%      1.204700e+05  2.300000e+05
75%      2.038100e+05  3.750000e+05
max      1.149242e+08  5.000000e+09

In [8]:
#value=146 refers to the null hypothesis value for the variable
ztest ,pvalue = stests.ztest(df['Sales Ratio'], x2=None, value=146)
print(float(pvalue))
print(ztest)

nan
nan

In [10]:
if pvalue<0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis accepted , Alternative hypothesis rejected

In [13]:

ztest ,pval1=stests.ztest(df['Assessed Value'],df['Sale Amount'],value=100)
print(float(pval1))

nan

In [14]:
if pval1>0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis accepted , Alternative hypothesis rejected